.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button {
  background-color: gray;
  color: white;
  padding: 0 15px;
  margin-top: 10px;

  &:focus {
    border: none;
    outline: none;
  }
}

input {
  width: 500px;
  max-width: 80%;
}