<div class="products">
    <div class="products-ammount" [ngStyle]="{backgroundColor: products.length>20 ? 'rgb(68, 158, 68)' : 'rgb(202, 7, 7)'}">
        <p class="products-ammount-text">W sumie {{visibleProducts.length}} rekordów</p>
        <div class="products-ammount-add button" (click)="changeFormVisible()"><span>Dodaj model</span></div>
    </div>
    <input class="products-search" placeholder="Search..." (input)="search($event)"  spellcheck="false">
    <div class="products-list">
        <app-product *ngFor="let product of this.visibleProducts" [product]="product" class="products-list-element" [ngStyle]="{borderColor: extremumColor(product), borderWidth: extremumColor(product) ? '3px' : null}" (removeEmiter)="remove($event)">
        </app-product>
    </div>
</div>

<app-new-product class="form" [ngStyle]="{visibility: getFormVisible() ? 'visible' : 'hidden'}" (click)="changeFormVisible()"></app-new-product>
