.model-name {
    font-size: 33px;
    margin: 30px 0;
    font-weight: 600;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover {
        cursor: pointer;
    }
    
    &-photo {
        border-radius: 50%;
        width: 80%;
        max-height: calc(45vw / 2);

        @media(max-width: 1000px) {
            max-height: calc(45vw);
        }
    }
    
    &-price {
        position: relative;
        top: -40px;
        background-color: rgba(255, 255, 255, 0.37);
        border-radius: 50%;
        padding: 3px;
    }
}

.cart {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-available {
        width: 100%;
        margin-bottom: 7px;
    }

    &-unavailable {
        width: 100%;
        margin-bottom: 7px;
        color: red;
    }

    &-reduce, &-add {
        cursor: pointer;
        color: white !important;
        background-color: black;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        padding: 5px;
        overflow: hidden;
    }

    &-incart {
        margin-top: 5px;
    }
}

.specification {
    margin: auto 5px;

    &-line {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px gray solid;

        &:last-of-type {
            border-bottom: none;
            margin-bottom: 20px;
        }

        &-left {
            font-weight: 600;
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }
}

.price {
    margin-bottom: 30px;
}

.disabled {
    background-color: rgba(116, 116, 116, 0.342) !important;
    cursor: default;
    pointer-events: none;
}

.remove {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: black;
    
    &:hover {
        cursor: pointer;
        color: rgb(202, 7, 7);
    }
}

.red {
    color: rgb(202, 7, 7);
}

app-photo {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.918);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: visible;

    &:hover {
        cursor: pointer;
    }
}
